body {
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: black;
}

button {
  cursor: pointer;
}

.title-2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.none {
  display: none !important;
}

@media (max-width: 1200px) {
  .title-2 {
    font-size: 48px;
  }
}

@media (max-width: 666px) {
  .title-2 {
    font-size: 36px;
  }
}
