.header {
  padding: 40px 0 120px;
  min-height: 100vh;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 73px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
}

.nav__btn {
  padding: 15px 58px;
  border-radius: 30px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 100px;
}

.header__conten--image {
  text-align: center;
  padding-bottom: 50px;
}

.header__conten--image img {
  max-width: 100%;
}

.header__conten--image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
}

.header__conten--image:has(.content-item__active.color--red)::before {
  background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
}
.header__conten--image:has(.content-item__active.color--white)::before {
  background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
}
.header__conten--image:has(.content-item__active.color--black)::before {
  background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
}
.header__conten--image:has(.content-item__active.color--blue)::before {
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}
.header__conten--image:has(.content-item__active.color--green)::before {
  background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}
.title--m {
  display: inline-block;
  transform: translate(-59px, 289px);
}
.title--ax {
  display: inline-block;
  transform: translate(-126px, 385px);
  z-index: -1;
  position: relative;
}

@media (max-width: 1480px) {
  .title {
    font-size: 180px;
    transform: translate(130px, 17px);
  }

  .title--ax {
    transform: translate(-136px, 432px);
  }
}

@media (max-width: 1350px) {
  .title {
    font-size: 130px;
    transform: none;
    padding-top: 20vh;
    left: 0;
    right: 0;
    text-align: center;
  }
  .title--s {
    transform: none;
  }

  .title--m {
    transform: none;
  }
  .title--ax {
    transform: none;
  }

  .header {
    padding-bottom: 0;
  }
  .header__top {
    padding: 0 40px;
  }
  .header__conten--image {
    padding-bottom: 0;
  }
  .header__conten--image img {
    padding: 0 40px;
  }
}

@media (max-width: 950px) {
  .title {
    position: relative;
    font-size: 100px;
    padding-top: 0;
  }
  .title--s {
    padding-right: 20px;
  }
}

@media (max-width: 770px) {
  .title {
    font-size: 76px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 56px;
  }
  .header__top {
    flex-direction: column;
    row-gap: 30px;
  }
}

@media (max-width: 470px) {
  .title {
    font-size: 36px;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 25px;
  }
}
